<form method="post" action="{{ path('app_admin_prod_delete', {'refProd': produit.refProd}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.refProd) }}">
    <button class="btn btn-success" style="background-color: #778A17;">Delete</button>
</form>
